.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0vh;
  }

/* CHANGE STYLING MORE LATER */

.page-numbers button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
.page-numbers button:hover {
    background-color: #f0f0f0;
  }
  
.page-numbers button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
.page-numbers .active {
    background-color: #808080;
    color: white;
    border-color: #808080;
    font-weight: bold; 
  }
  
.page-numbers button:not(.active):hover {
    background-color: #ddd;
    color: black;
  }